.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todos-list::-webkit-scrollbar{
    display: none !important;
}

input:focus {
  outline: none !important;

}

.buttons-container{
  display: flex;
  justify-content: flex-end;
  display: none;
}